<div ng-include src="'views/nav.html'">
</div>
   
   <div class="container marketing">
   <div class="form-group">
  <label for="usr">déclaration par type:</label>
  <input type="text" class="form-control" value="http://localhost:8080/users/Crime/Type">
   <label for="usr">déclaration par ville:</label>
    <input type="text" class="form-control"  value="http://localhost:8080/users/Crime/Type/city" >
    <label for="usr">déclaration par date:</label>
    <input type="text" class="form-control"  value="http://localhost:8080/users/Declaration/Monthly" >
    </div>

    </div>